{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-5">
        <div class="row">
            <div class="col-12 col-lg-5">
                    <img class="card-img-top cons-card-details-img" alt="{{ intervenant.nom }} {{ intervenant.prenom }}"
                         src="{{ intervenant.photo is not null ? (ABSURL ~ '/' ~ intervenant.photo) : "http://datastory.ch/constitutions-time-machine/boussole/img/intervenant_photo_placeholder.jpg" }}">
                <h5 class="font-weight-bold mb-3 mt-3">
                    <a href="{{ path('intervenant-index') }}" class="cons-icon-back d-inline-block">
                        <svg class="bi bi-chevron-left" width="0.8em" height="0.8em" viewBox="0 0 16 16"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </a>
                    {{ intervenant.titre }} {{ intervenant.nom }}{{ intervenant.prenom != '' ? ', ' ~ intervenant.prenom : '' }}
                </h5>
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="font-weight-bold">Date de naissance</td>
                        <td>{{ intervenant.dateNaissance is empty ? 'Inconnue' : (intervenant.dateNaissance|date('d.m') == '01.01' ? intervenant.dateNaissance|date('Y') : intervenant.dateNaissance|date('d.m.Y')) }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Date de décès</td>
                        <td>{{ intervenant.dateDeces is empty ? 'Inconnue' : (intervenant.dateDeces|date('d.m') == '01.01' ? intervenant.dateDeces|date('Y') : intervenant.dateDeces|date('d.m.Y')) }}</td>
                    </tr>
                    {% if intervenant.origine %}
                        <tr>
                            <td class="font-weight-bold">Lieu d'origine</td>
                            <td>{{ intervenant.origine }}</td>
                        </tr>
                    {% endif %}
                    {% if intervenant.parti %}
                        <tr>
                            <td class="font-weight-bold">Parti politique</td>
                            <td>{{ intervenant.parti }}</td>
                        </tr>
                    {% endif %}
                    {% if intervenant.source %}
                        <tr>
                            <td colspan="2" class="font-weight-bold">
                                <a href="{{ intervenant.source }}" class="btn btn-outline-dark" target="_blank">
                                    Entrée dans le Dictionnaire historique de la Suisse
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-lg-7">
                <h4 class="mb-3">Interventions</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Article</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, commission in commissions %}
                        <tr>
                            <td colspan="3">Commission {{ key }} - {{ commission[0].article.commission.nom }}</td>
                        </tr>
                        {% for debat in commission %}
                            <tr>
                                <td>{{ debat.dateSeance|date('d.m.Y') }}</td>
                                <td>{{ debat.article.nomArticle }}</td>
                                <td>
                                    <a href="{{ path('article-details', {'id': debat.article.id}) }}"
                                       class="btn btn-outline-dark">
                                        Détails
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}