{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-lg-5 p-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3 class="mb-3">{{ article.nomArticle }}</h3>
                <p>{{ article.texte|raw }}</p>{% if article.lois is not empty %}
                    <h4 class="mb-2 mt-4">Lois y faisant référence</h4>
                    {% for loi in lois|slice(0, 5) %}
                        <style>
                            [id="loi{{ loi.nomLoi }}"] {
                                color: black;
                            }

                            [id="loi{{ loi.nomLoi }}"]:hover {
                                color: black;
                                text-decoration: none;
                            }

                            .cons-icon-reply:hover {
                                color: {{ loi.theme.couleur }};
                            }

                            [id="loi{{ loi.nomLoi }}"]:hover .cons-icon-reply {
                                color: {{ loi.theme.couleur }};
                            }
                        </style>
                        <p>
                            <span style="display:inline-block; width: 25px; height: 10px; background-color: {{ loi.theme.couleur }}"></span>
                            <a href="{{ path('loi-details', {'id': loi.nomLoi}) }}" id="loi{{ loi.nomLoi }}"
                            target="_blank">
                                {{ loi.nomLoi }} {{ loi.titre }}
                                <svg width="1.2em" height="1.2em" style="margin-top: -5px" viewBox="0 0 16 16"
                                     class="cons-icon-reply bi bi-reply" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
                                </svg>
                            </a>
                        </p>
                    {% endfor %}
                    {% if lois|length > 5 %}
                        {% for loi in lois|slice(5) %}
                            <style>
                                [id="loi{{ loi.nomLoi }}"] {
                                    color: black;
                                }

                                [id="loi{{ loi.nomLoi }}"]:hover {
                                    color: black;
                                }
                            </style>
                            <p class="cons-more-lois d-none">
                                <span style="display:inline-block; width: 25px; height: 10px; background-color: {{ loi.theme.couleur }}"></span>
                                <a href="{{ path('loi-details', {'id': loi.nomLoi}) }}" id="loi{{ loi.nomLoi }}">
                                    {{ loi.nomLoi }} {{ loi.titre }}
                                </a>
                            </p>
                        {% endfor %}
                        <button class="btn btn-outline-dark" id="btnMoreLois" data-number="{{ lois|length - 5 }}">
                            Afficher {{ lois|length - 5 }} autres
                        </button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="timeline col-12 col-lg-6 mt-5 mt-lg-0">
                <ul>
                    {% if article.archives is empty or article.archives[0].modification != 'introduit' %}
                        <li>
                            <div class="content">
                                <h4>Introduction</h4>
                                <p>Cet article a été introduit lors de la première mise en application de la
                                    Constitution valaisanne.</p>
                            </div>
                            <div class="point"></div>
                            <div class="date">
                                <h5>02.06.1907</h5>
                            </div>
                        </li>
                    {% endif %}
                    {% for archive in archives %}
                        <li {{ loop.last ? 'class="active"' : '' }}>
                            {% if loop.last %}
                                <span class="message">En vigueur au {{ "now"|date('d.m.Y') }}</span>
                            {% endif %}
                            <div class="content">
                                {% if archive.modification == 'introduit' and loop.index0 == 0 %}
                                    <h4>Introduction</h4>
                                {% else %}
                                    <h4>Modification {{ loop.index }}</h4>
                                {% endif %}
                                <p>{{ archive.element }} {{ archive.modification }}, entrée en vigueur
                                    le {{ archive.dateEntree|date('d.m.Y') }}</p>
                            </div>
                            <div class="point"></div>
                            <div class="date">
                                <h5>{{ archive.dateDecision|date('d.m.Y') }}</h5>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12">
                <h4 class="mt-5">Débats</h4>
                {% if debats is not null and debats is not empty %}
                    {% for debat in debats %}
                        <div class="card m-3 d-flex align-items-stretch">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Débat {{ loop.index }}, le {{ debat.dateSeance|date('d.m.Y') }}
                                </h5>
                                {% if debat.intervenants is empty %}
                                    <p>Intervenant(s) inconnu(s)</p>
                                {% else %}
                                    <p>Intervention(s) de
                                        {% for intervenant in debat.intervenants %}
                                            <span>
                                                {{ intervenant.titre }}
                                                <a href="{{ path('intervenant-details', {'id': intervenant.id}) }}" style="background: {{ colors[loop.index0][0] }}; color: {{ colors[loop.index0][1] }}">
                                                    {{ intervenant.nom -}}
                                                </a>
                                                {{ intervenant.prenom }}{% if not loop.last %},{% endif %}
                                            </span>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                <p id="blockDebatTruncate{{ debat.id }}" class="card-text d-inline-block text-justify">
                                    {{ boldIntervenantName(debat.texte, debat.intervenants, colors, ABSURL)|u.truncate(550, '...')|raw }}
                                </p>
                                <p id="blockDebatMore{{ debat.id }}" class="d-none text-justify">
                                    {{ boldIntervenantName(debat.texte, debat.intervenants, colors, ABSURL)|raw }}
                                </p>
                                {% if boldIntervenantName(debat.texte, debat.intervenants, colors, ABSURL)|length > 550 %}
                                    <button id="btnDebatMore{{ debat.id }}" class="btn btn-outline-dark">
                                        Voir plus
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucun débat entourant cet article.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ ABSURL }}/build/vendors~app~details~search.js"></script>
    <script src="{{ ABSURL }}/build/vendors~details~search.js"></script>
    <script src="{{ ABSURL ~ asset('build/details.js') }}"></script>
{% endblock %}